# Only define the known VLAN subnets as trusted
acl "trusted" {
  192.168.10.0/24;   # LAN1
  192.168.50.0/24;   # HOME
  192.168.69.0/24;   # IOT
  192.168.200.0/24;  # SERVER
  192.168.250.0/24;  # GUEST
  10.10.0.0/24;      # WIREGUARD
  10.5.0.0/24;       # CONTAINERS
};

options {
  directory "/var/cache/bind";
  listen-on { 127.0.0.1; 10.5.0.3; };

  allow-recursion {
    trusted;
  };
  allow-transfer {
    none;
  };
  allow-update {
    none;
  };
};

logging {
  channel stdout {
    stderr;
    severity info;
    print-category yes;
    print-severity yes;
    print-time yes;
  };
  category security { stdout; };
  category dnssec { stdout; };
  category default { stdout; };
};

include "/etc/bind/rndc.key";
include "/etc/bind/externaldns.key";

controls {
  inet 127.0.0.1 allow { localhost; } keys { "rndc-key"; };
};

zone "${SECRET_DOMAIN_0}." {
  type master;
  file "/etc/bind/zones/db.${SECRET_DOMAIN_0}";
  journal "/var/cache/bind/db.${SECRET_DOMAIN_0}.jnl";
  allow-transfer {
    key "externaldns";
  };
  update-policy {
    grant externaldns zonesub ANY;
  };
};

zone "${SECRET_DOMAIN_1}." {
  type master;
  file "/etc/bind/zones/db.${SECRET_DOMAIN_1}";
  journal "/var/cache/bind/db.${SECRET_DOMAIN_1}.jnl";
  allow-transfer {
    key "externaldns";
  };
  update-policy {
    grant externaldns zonesub ANY;
  };
};

zone "home.arpa." {
  type master;
  file "/etc/bind/zones/db.home.arpa";
};

zone "168.192.in-addr.arpa." {
  type master;
  file "/etc/bind/zones/db.168.192.in-addr.arpa";
};

zone "10.in-addr.arpa." {
  type master;
  file "/etc/bind/zones/db.10.in-addr.arpa";
};
